# Set

mutable, indexing not allowed, no duplicate element

In [6]:
s = {2, 4, 6, 7, 2}

In [7]:
type(s)

set

In [8]:
s

{2, 4, 6, 7}

In [9]:
s = set([1, 2, 4, 2, 5])

In [10]:
s

{1, 2, 4, 5}

# Add element

In [11]:
s.add(3)

In [12]:
s

{1, 2, 3, 4, 5}

In [14]:
s.update([5, 2,7, 9])

In [15]:
s

{1, 2, 3, 4, 5, 7, 9}

In [16]:
s.update([11, 45, 21], {23, 56, 2})

In [17]:
s

{1, 2, 3, 4, 5, 7, 9, 11, 21, 23, 45, 56}

# Remove elemet

In [18]:
s.discard(2)

In [19]:
s

{1, 3, 4, 5, 7, 9, 11, 21, 23, 45, 56}

In [20]:
s.remove(7)

In [22]:
# if element not present in set then remove will throw an error, discard will not throw error
s.remove(99)

KeyError: 99

In [23]:
s.discard(99)

In [24]:
s.pop()  # remove random element

1

In [26]:
s.clear() # remove all element from set

In [27]:
s

set()

# set operations

In [28]:
set1 = {2, 4, 5, 6, 2, 4, 7}
set2 = {3, 5, 1, 65, 99, 22}

In [30]:
# set union
print(set1 | set2)

{65, 2, 1, 4, 5, 6, 7, 3, 99, 22}

In [31]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 22, 65, 99}

In [33]:
# intersection
set1 & set2

{5}

In [34]:
set1.intersection(set2)

{5}

In [35]:
set1 - set2

{2, 4, 6, 7}

In [36]:
set1.difference(set2)

{2, 4, 6, 7}

In [37]:
# Symmetric difference
set1 ^ set2

{1, 2, 3, 4, 6, 7, 22, 65, 99}

In [38]:
set1.symmetric_difference(set2)

{1, 2, 3, 4, 6, 7, 22, 65, 99}

In [40]:
set1.issubset(set2)

False

In [41]:
set3 = {2, 4, 5}
set1.issubset(set3)

False

In [42]:
set3.issubset(set1)

True