# Tuple

same as list just immutable

In [4]:
t = ()

t = ('a', 12, 'abc')

In [5]:
t

('a', 12, 'abc')

In [6]:
type(t)

tuple

# Element access

In [7]:
t[0]

'a'

In [13]:
t = ('a', (1,2,3), 'xyz')

In [15]:
t

('a', (1, 2, 3), 'xyz')

In [16]:
t[1][2]

3

In [17]:
t[-1]

'xyz'

# Slicing

In [18]:
t[1:2]

((1, 2, 3),)

In [19]:
t[:-2]

('a',)

#

In [10]:
t = ('xyz')
type(t)

str

In [12]:
t = ('xyz',)
type(t)

tuple

# Nested Tuple

In [20]:
# list inside tuple
t = (1,2,3,['a', ['b']])

In [21]:
t

(1, 2, 3, ['a', ['b']])

# Immutable

In [22]:
# value change in tuple
t[0] = 6

TypeError: 'tuple' object does not support item assignment

In [23]:
# value change in nested list
t[3][0] = 'c'

In [24]:
t

(1, 2, 3, ['c', ['b']])

In [25]:
t = (1, 2, 3) + (4, 5, 6)
t

(1, 2, 3, 4, 5, 6)

In [28]:
t = (('xyz',)*4)

In [29]:
t

('xyz', 'xyz', 'xyz', 'xyz')

# Tuple Deletion

In [30]:
t = (1, 2, 3, 4, 5, 6)

In [31]:
t

(1, 2, 3, 4, 5, 6)

In [32]:
del t

In [33]:
t

NameError: name 't' is not defined

# Tuple Count

In [34]:
t = (1, 2, 3, 4, 5, 6)

In [35]:
t.count(1)

1

# Tuple index

In [36]:
# return the first occurence of given element
t.index(3)

2

# Sorted vs Sort

In [37]:
t = (9, 5, 2, 6, 7, 1)

In [39]:
t_new = sorted(t)

In [40]:
t_new

[1, 2, 5, 6, 7, 9]

In [41]:
sort(t)

NameError: name 'sort' is not defined